.background-blue{
    background-color: blue;
}

.text-white{
    color: white;
}

.background-lightgreen{
    background-color: lightgreen;
}

[class*="col"]{
    border: 1px solid white;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.padding-different{
    padding: 10px 10px;
}

.border-nested{
    border: 2px solid blue;
}

.margin-top-20{
    margin-top: 20px;
}

.height-fixed{
    height: 30px;
}